<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChallengeManager</key>
	<dict>
		<key>communicationController</key>
		<dict>
			<key>services</key>
			<array>
				<dict>
					<key>className</key>
					<string>HCChallengeNetworkService</string>
					<key>propertyName</key>
					<string>challengeNetworkService</string>
					<key>networkServiceConfiguration</key>
					<dict>
						<key>NIFServiceName</key>
						<string>HCChallengeService</string>
					</dict>
				</dict>
			</array>
			<key>className</key>
			<string>HCChallengeCommunicationController</string>
		</dict>
		<key>dataAccessController</key>
		<dict>
			<key>className</key>
			<string>HCChallengeDataAccessController</string>
		</dict>
		<key>className</key>
		<string>HCChallengeManager</string>
	</dict>
	<key>ChallengeManagerWithoutNetwork</key>
	<dict>
		<key>dataAccessController</key>
		<dict>
			<key>className</key>
			<string>HCChallengeDataAccessController</string>
		</dict>
		<key>className</key>
		<string>HCChallengeManager</string>
	</dict>
	<key>ChallengeManagerWithoutDataController</key>
	<dict>
		<key>className</key>
		<string>HCChallengeManager</string>
	</dict>
	<key>ChallengeManagerWithoutDataControllerClassName</key>
	<dict>
		<key>dataAccessController</key>
		<dict/>
		<key>className</key>
		<string>HCChallengeManager</string>
	</dict>
	<key>ChallengeManagerWithoutClassName</key>
	<dict>
		<key>dataAccessController</key>
		<dict>
			<key>className</key>
			<string>HCChallengeDataAccessController</string>
		</dict>
	</dict>
</dict>
</plist>
