<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChallangeManager</key>
	<dict>
		<key>dataAccessController</key>
		<dict>
			<key>communicationController</key>
			<dict>
				<key>services</key>
				<array>
					<dict>
						<key>className</key>
						<string>HCChallangeNetworkService</string>
						<key>propertyName</key>
						<string>challangeNetworkService</string>
						<key>networkServiceConfiguration</key>
						<dict>
							<key>NIFServiceName</key>
							<string>HCChallangeService</string>
						</dict>
					</dict>
				</array>
				<key>className</key>
				<string>HCChallangeCommunicationController</string>
			</dict>
			<key>className</key>
			<string>HCChallangeDataAccessController</string>
		</dict>
		<key>className</key>
		<string>HCChallangeManager</string>
	</dict>
	<key>ChallangeManagerWithoutNetwork</key>
	<dict>
		<key>dataAccessController</key>
		<dict>
			<key>className</key>
			<string>HCChallangeDataAccessController</string>
		</dict>
		<key>className</key>
		<string>HCChallangeManager</string>
	</dict>
	<key>ChallangeManagerWithoutDataController</key>
	<dict>
		<key>className</key>
		<string>HCChallangeManager</string>
	</dict>
	<key>ChallangeManagerWithoutDataControllerClassName</key>
	<dict>
		<key>dataAccessController</key>
		<dict/>
		<key>className</key>
		<string>HCChallangeManager</string>
	</dict>
	<key>ChallangeManagerWithoutClassName</key>
	<dict>
		<key>dataAccessController</key>
		<dict>
			<key>className</key>
			<string>HCChallangeDataAccessController</string>
		</dict>
	</dict>
</dict>
</plist>
